DASHSCOPE_API_KEY=
DASHSCOPE_CHAT_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
DASHSCOPE_CHAT_MODEL=qwen-plus
DASHSCOPE_IMAGE_API_URL=https://dashscope.aliyuncs.com/api/v1/services/aigc/multimodal-generation/generation
