ZHIPU_API_KEY=
DASHSCOPE_API_KEY=
ZHIPU_API_URL=https://open.bigmodel.cn/api/paas/v4/chat/completions
DASHSCOPE_IMAGE_API_URL=https://dashscope.aliyuncs.com/api/v1/services/aigc/multimodal-generation/generation
